/*  */
/* CUSTOM NORMALIZE */
/*  */
body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

dialog {
  display: block;
  background-color: #fff;
}

dialog:not([open]) {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*  */
/* FONTS */
/*  */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Gilroy Light"), url(/fonts/gilroylight.woff) format("woff"), url(/fonts/gilroylight.woff2) format("woff2");
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Gilroy ExtraBold"), url(/fonts/gilroyextrabold.woff) format("woff"), url(/fonts/gilroyextrabold.woff2) format("woff2");
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Gilroy Light"), url(/fonts/gilroylight.woff) format("woff"), url(/fonts/gilroylight.woff2) format("woff2"); }
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Gilroy ExtraBold"), url(/fonts/gilroyextrabold.woff) format("woff"), url(/fonts/gilroyextrabold.woff2) format("woff2"); }
.featured-goods {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 310px 50px 230px;
  grid-template-rows: 310px 50px 230px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.featured-goods::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  background-color: #f7e296;
  width: 100%;
  height: 110px;
}

.featured-goods img {
  margin-left: 90px;
}

.featured-goods .slide-number {
  font-size: 179px;
  line-height: 179px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  color: #fff;
  display: block;
  top: -15px;
  right: 20px;
  width: 210px;
  position: absolute;
  z-index: -1;
}

.featured-goods-controls {
  display: flex;
  -ms-grid-column: 3;
  -ms-grid-row: 2;
  grid-area: 2 / 3 / 3 / 4;
  justify-content: flex-end;
}

[href^="#featured-goods-anchor"] {
  display: block;
  width: 12px;
  height: 12px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/utility-icons/slider-button-empty.svg);
}

.featured-goods .slogan {
  font-size: 47px;
  line-height: 56px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  margin: 78px 0 0 20px;
  letter-spacing: 0.5px;
}

.featured-goods .description {
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  margin: 19.5px 0 0 19px;
  letter-spacing: 0.2px;
}

[class^=slide] {
  display: none;
}

[class^=slide].current:not(.no-js) {
  display: block;
}

.featured-goods-anchor.current:not(.no-js) {
  background-image: url(/img/utility-icons/slider-button.svg);
}

.fixed-anchor.featured-1:not(:target)+.fixed-anchor.featured-2:not(:target)+.fixed-anchor.featured-3:not(:target)~.featured-goods-controls>.featured-goods-anchor.link-1.no-js,
.fixed-anchor.featured-1:target~.featured-goods-controls>.featured-goods-anchor.link-1.no-js,
.fixed-anchor.featured-2:target~.featured-goods-controls>.featured-goods-anchor.link-2.no-js,
.fixed-anchor.featured-3:target~.featured-goods-controls>.featured-goods-anchor.link-3.no-js {
  background-image: url(/img/utility-icons/slider-button.svg);
}

.fixed-anchor.featured-1:not(:target)+.fixed-anchor.featured-2:not(:target)+.fixed-anchor.featured-3:not(:target)~.slide-1.no-js,
.fixed-anchor.featured-1:target~.slide-1.no-js,
.fixed-anchor.featured-2:target~.slide-2.no-js,
.fixed-anchor.featured-3:target~.slide-3.no-js {
  display: block;
}

[class^=slide].img {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-area: 1 / 1 / 4 / 2;
}

[class^=slide].top {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 2 / 2 / 4;
  position: relative;
}

[class^=slide].top::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #fff;
  top: 36px;
  left: 20px;
}

[class^=slide].more {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  grid-area: 2 / 2 / 3 / 3;
}

[class^=slide].more a {
  margin-left: 20px;
  margin-top: 2px;
}

[class^=slide].table {
  -ms-grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-column-span: 3;
  grid-area: 3 / 2 / 4 / 4;
  padding-left: 15.5px;
  padding-top: 38px;
}

[class^=slide].table th {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #464646;
  text-align: left;
  padding-top: 5px;
  padding-left: 2px;
}

[class^=slide].table td {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.4px;
}

[class^=slide].table td:first-child {
  min-width: 156px;
}

[class^=slide].table td:nth-child(2) {
  min-width: 137px;
}

.featured-goods-controls a {
  margin-right: 21px;
  margin-top: 16px;
}

.featured-goods-controls a:last-child {
  margin-right: 83px;
}










}
.brands {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 145px;
}

.brands>ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.brand.dji .logo-img {
  background-image: url(/img/brands/dji-translucent.png);
}

.brand.dji:hover>.logo-img,
.brand.dji:focus>.logo-img,
.brand.dji:active>.logo-img {
  background-image: url(/img/brands/dji.png);
}

.brand.spgadgets .logo-img {
  background-image: url(/img/brands/spgadgets-translucent.png);
}

.brand.spgadgets:hover>.logo-img,
.brand.spgadgets:focus>.logo-img,
.brand.spgadgets:active>.logo-img {
  background-image: url(/img/brands/spgadgets.png);
}

.brand.gopro .logo-img {
  background-image: url(/img/brands/gopro-translucent.png);
}

.brand.gopro:hover>.logo-img,
.brand.gopro:focus>.logo-img,
.brand.gopro:active>.logo-img {
  background-image: url(/img/brands/gopro.png);
}

.brand.vive .logo-img {
  background-image: url(/img/brands/vive-translucent.png);
}

.brand.vive:hover>.logo-img,
.brand.vive:focus>.logo-img,
.brand.vive:active>.logo-img {
  background-image: url(/img/brands/vive.png);
}

.brands .logo-img {
  background-position: center;
  background-repeat: no-repeat;
  block-size: 100%;
  display: block;
  width: 260px;
  height: 100px;
}
/*  */
/* SERVICES */
/*  */
.service-anchor {
  position: relative;
  top: -100px;
}

.services {
  background-color: #e5e5e5;
  min-height: 288px;
  margin-bottom: 95px;
}

.services>.wrap {
  display: flex;
  flex-flow: row nowrap;
}

.service-controls {
  width: 280px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.service-controls::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -100px;
  height: 320px;
  width: 7px;
  background-color: #000;
}

.service-controls a:first-child {
  margin-top: -20px;
}

.service-controls a {
  margin-bottom: 24px;
  width: 160px;
}

.services section {
  padding-left: 117px;
  box-sizing: border-box;
  display: none;
  width: 880px;
  position: relative;
}

.services h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin-top: -26px;
}

.services p {
  margin: 0;
  max-width: 436px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.service-section.delivery::after,
.service-section.warranty::after,
.service-section.credit::after {
  content: "";
  display: block;
  position: absolute;
}

.service-section.delivery::after {
  background: url(/img/service-icons/delivery.svg) center no-repeat;
  width: 136px;
  height: 164px;
  top: -15px;
  right: 66px;
}

.service-section.warranty::after {
  background: url(/img/service-icons/warranty.svg) center no-repeat;
  width: 171px;
  height: 194px;
  top: -39px;
  right: 46px;
}

.service-section.credit::after {
  background: url(/img/service-icons/credit.svg) center no-repeat;
  width: 156px;
  height: 186px;
  top: -39px;
  right: 70px;
}

.fixed-anchor {
  position: fixed;
}

/*
    SERVICES SWITCH STYLES
*/
.service-anchor-link.current:not(.no-js),
.service-controls>a:active {
  color: #f7e184;
}

.service-anchor-link.current:not(.no-js)::before,
.service-controls>a:active::before {
  background-color: #000;
  height: 100%;
}

.service-anchor-link.current:not(.no-js)::after,
.service-controls>a:active::after {
  content: "";
  display: block;
  width: 120px;
  height: 100%;
  position: absolute;
  right: -120px;
  top: 0;
  background-color: #000;
}

.service-section.current:not(.no-js) {
  display: block;
}

/*
    SERVICES SWITCH STYLES NO-JS FALLBACK
*/
.service-anchor.delivery:not(:target)+.service-anchor.warranty:not(:target)+.fixed-anchor.delivery:not(:target)+.fixed-anchor.warranty:not(:target)+.fixed-anchor.credit:not(:target)~.service-controls .service-anchor-link.delivery.no-js,
.service-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js,
.service-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js,
.fixed-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js,
.fixed-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js,
.fixed-anchor.credit:target~.service-controls .service-anchor-link.credit.no-js {
  color: #f7e184;
}

.service-anchor.delivery:not(:target)+.service-anchor.warranty:not(:target)+.fixed-anchor.delivery:not(:target)+.fixed-anchor.warranty:not(:target)+.fixed-anchor.credit:not(:target)~.service-controls .service-anchor-link.delivery.no-js::before,
.service-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js::before,
.service-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js::before,
.fixed-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js::before,
.fixed-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js::before,
.fixed-anchor.credit:target~.service-controls .service-anchor-link.credit.no-js::before {
  background-color: #000;
  height: 100%;
}

.service-anchor.delivery:not(:target)+.service-anchor.warranty:not(:target)+.fixed-anchor.delivery:not(:target)+.fixed-anchor.warranty:not(:target)+.fixed-anchor.credit:not(:target)~.service-controls .service-anchor-link.delivery.no-js::after,
.service-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js::after,
.service-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js::after,
.fixed-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js::after,
.fixed-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js::after,
.fixed-anchor.credit:target~.service-controls .service-anchor-link.credit.no-js::after {
  content: "";
  display: block;
  width: 120px;
  height: 100%;
  position: absolute;
  right: -120px;
  top: 0;
  background-color: #000;
}

.service-anchor.delivery:not(:target)+.service-anchor.warranty:not(:target)+.fixed-anchor.delivery:not(:target)+.fixed-anchor.warranty:not(:target)+.fixed-anchor.credit:not(:target)~.service-section.delivery.no-js,
.service-anchor.delivery:target~.service-section.delivery.no-js,
.service-anchor.warranty:target~.service-section.warranty.no-js,
.fixed-anchor.delivery:target~.service-section.delivery.no-js,
.fixed-anchor.warranty:target~.service-section.warranty.no-js,
.fixed-anchor.credit:target~.service-section.credit.no-js {
  display: block;
}
.common-dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  border: 0;
  padding: 0;
  z-index: 2;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.common-dialog[open] {
  animation-name: show-dialog;
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@keyframes show-dialog {
  from {
    top: -50%;
  }

  75% {
    top: 60%;
  }

  90% {
    top: 45%;
  }

  to {
    top: 50%;
  }
}

.popup-map {
  width: 960px;
  height: 559px;
  margin-top: -279px;
  margin-left: -480px;
  background: url(/img/map.png) center/cover no-repeat;
}

.popup-map iframe {
  position: absolute;
  left: 0;
  top: 0;
}

.close-btn {
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(240, 197, 46, 0.5);
  position: absolute;
  right: 22px;
  top: 22px;
}

.close-btn:hover {
  background-color: #f0c52e;
}

.close-btn:active {
  background-color: rgba(240, 197, 46, 0.3);
}

.close-btn::before,
.close-btn::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::before {
  width: 22px;
  height: 2px;
}

.close-btn::after {
  width: 2px;
  height: 22px;
}

.write-us {
  width: 960px;
  height: 553px;
  margin-top: -279px;
  margin-left: -480px;
  padding: 80px 100px;
  box-sizing: border-box;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.write-us input,
.write-us textarea {
  background-color: #f2f2f2;
  border: 0;
  font-size: 14px;
  line-height: 18px;
  border: 3px solid transparent;
  padding: 10px 20px;
  box-sizing: border-box;
}

.write-us input:hover,
.write-us textarea:hover {
  background-color: #eaeaea;
}

.write-us input:focus,
.write-us textarea:focus {
  background-color: #fff;
  border: 3px solid #f0c52e;
  color: #464646;
  outline: none;
}

.write-us input:invalid,
.write-us textarea:invalid {
  background-color: #f6dada;
}

.write-us input::placeholder,
.write-us textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.name-n-email {
  display: flex;
  margin-bottom: 30px;
}

.write-us-name-label {
  margin-right: 40px;
}

.write-us-name-input,
.write-us-message-input {
  width: 360px;
  height: 50px;
}

.write-us-message-label {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 40px;
}

.write-us-message-input {
  height: 156px;
  resize: none;
  width: 100%;
}
