/*  */
/* CUSTOM NORMALIZE */
/*  */
body {
	margin: 0;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

dialog {
	display: block;
	background-color: #fff;
}

dialog:not([open]) {
	display: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/*  */
/* FONTS */
/*  */
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local("Gilroy Light"), url(../fonts/gilroylight.woff) format("woff"), url(/fonts/gilroylight.woff2) format("woff2");
}

@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: local("Gilroy ExtraBold"), url(../fonts/gilroyextrabold.woff) format("woff"), url(/fonts/gilroyextrabold.woff2) format("woff2");
}

/*  */
/* COMMON STYLES */
/*  */
body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	color: #000;
	overflow-x: hidden;
	background-color: #fff;
}

.yellow-stripe-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	vertical-align: middle;
	letter-spacing: 3.6px;
	width: 220px;
	height: 40px;
	border: 0;
	background: transparent;
	position: relative;
	padding: 0;
	z-index: 1;
}

.yellow-stripe-button:active {
	color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.yellow-stripe-button:before {
	content: "";
	display: block;
	width: 100%;
	height: 8px;
	background-color: #f0c52e;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: -1;
	transition: .2s height;
}

.yellow-stripe-button:active:before,
.yellow-stripe-button:hover:before,
.yellow-stripe-button:focus:before {
	height: 100%;
}

.yellow-stripe-button:focus {
	outline: none;
}

/*  */
/* PAGE HEADER */
/*  */
.page-header {
	position: relative;
	color: #000;
	font-size: 15px;
	line-height: 30px;
	background-color: #f7e296;
	width: 1160px;
	min-height: 186px;
	margin: 40px auto 0;
	padding: 44px 60px 50px;
	box-sizing: border-box;
}

.logo-link[href]:hover,
.page-header .user-nav [href]:hover,
.nav-link[href]:hover,
.catalog-link[href]:hover {
	opacity: .6;
}

.logo-link[href]:active,
.page-header .user-nav [href]:active,
.nav-link[href]:active,
.catalog-link[href]:active {
	opacity: .3;
}

.search-n-user {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	margin-bottom: 17px;
}

form.search {
	display: flex;
	position: relative;
}

form.search [name=search-query] {
	background: transparent url(../img/utility-icons/search.svg) 4px center no-repeat;
	border: 0;
	padding-left: 40px;
	letter-spacing: -.1px;
	font-weight: 300;
	padding-right: 50px;
	box-sizing: border-box;
	height: 49px;
	width: 441px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	line-height: 30px;
	background-origin: border-box;
	position: relative;
	top: -10px;
	left: -2px;
}

form.search [name=search-query],
form.search [name=search-query]::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

form.search [name=search-query]:hover,
form.search [name=search-query]:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

form.search [name=search-query]:focus::placeholder,
form.search:focus-within [name=search-query]::placeholder {
	color: #000;
}

form.search button {
	display: none;
	position: absolute;
	height: 100%;
	top: -10px;
	right: 0;
	width: 85px;
	background: transparent;
	border: 0;
}

form.search [name=search-query]:focus {
	border-bottom: 2px solid #000;
	color: #000;
	outline: none;
}

form.search:focus-within [name=search-query] {
	border-bottom: 2px solid #000;
	color: #000;
	outline: none;
}

form.search:focus-within button {
	display: block;
	border: 2px solid #000;
}

form.search [name=search-query]:focus+button,
form.search button:hover,
form.search button:focus,
form.search button:active {
	display: block;
	border: 2px solid #000;
}

form.search button:hover {
	background-color: #000;
	color: #fff;
}

form.search button:active {
	background-color: #000;
	color: rgba(255, 255, 255, 0.3);
}

.page-header a {
	color: #000;
}

.catalog-n-site-nav {
	position: relative;
	display: flex;
	letter-spacing: 3.5px;
}

.page-header .nav-link.catalog,
.page-header .site-nav .nav-link {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;
}

.page-header .site-nav>li:first-child {
	margin-right: 35px;
}

.page-header .site-nav>li:last-child {
	margin-left: auto;
	position: relative;
	right: -3px;
}

.nav-link.catalog {
	position: relative;
	top: 3px;
}

.nav-link.catalog::after {
	position: absolute;
	right: -28px;
	top: 5px;
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	opacity: 0.3;
	background: url(../img/utility-icons/plus.svg) center no-repeat;
}

.page-header .user-nav,
.page-header .site-nav {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	margin-left: auto;
	width: 500px;
}

.user-nav li {
	position: relative;
}

.user-nav a:not(.logout)::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 12px;
	height: 12px;
	position: relative;
}

.user-nav .login::before,
.user-nav .user::before {
	margin-right: 13px;
	margin-top: 1px;
	background: url(../img/utility-icons/user.svg) center no-repeat;
}

.user-nav .compare::before {
	margin-right: 10px;
	margin-top: 1px;
	background: url(../img/utility-icons/compare.svg) center no-repeat;
}

.user-nav .cart::before {
	margin-right: 12px;
	margin-top: 1px;
	background: url(../img/utility-icons/cart.svg) center no-repeat;
}

.page-header .logo-link {
	position: absolute;
	left: 60px;
	top: -20px;
}

.page-header .nav-item-user {
	margin-right: 20px;
	letter-spacing: 0.2px;
}

.page-header .nav-item-logout,
.page-header .nav-item-login {
	margin-right: auto;
}

.nav-item-compare {
	margin-right: 41px;
}

.catalog-categories {
	display: none;
}

.nav-link.catalog:hover+.catalog-categories,
.catalog-categories:hover {
	display: flex;
}

.catalog-categories:focus-within,
.catalog-categories {
	display: flex;
}

.nav-link.catalog:not(:hover):not(:focus)+.catalog-categories:not(:hover):not(:focus-within) {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.catalog-categories {
	align-content: flex-start;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.15px;
	list-style: none;
	flex-flow: column wrap;
	margin: 0;
	padding: 19px 60px 20px;
	position: absolute;
	list-style: none;
	background-color: #f7e296;
	width: 1160px;
	margin-top: -1px;
	left: -60px;
	height: 160px;
	top: 30px;
	z-index: 1;
	box-sizing: border-box;
}

.catalog-categories li:nth-child(-n+5) {
	width: 200px;
}

.catalog-categories li:nth-child(-n+3) {
	width: 240px;
}

.catalog-categories li:nth-child(5) {
	margin-bottom: 30px;
}

/*  */
/* INDEX MAIN */
/*  */
.wrap {
	width: 1160px;
	margin: 0 auto;
}

.featured-goods {
	position: relative;
	width: 1160px;
	margin: 0 auto;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 2fr 1fr 1fr;
	grid-template-columns: 2fr 1fr 1fr;
	-ms-grid-rows: 310px 50px 230px;
	grid-template-rows: 310px 50px 230px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.featured-goods::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	background-color: #f7e296;
	width: 100%;
	height: 110px;
}

.featured-goods img {
	margin-left: 90px;
}

.featured-goods .slide-number {
	font-size: 179px;
	line-height: 179px;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	color: #fff;
	display: block;
	top: -15px;
	right: 20px;
	width: 210px;
	position: absolute;
	z-index: -1;
}

.featured-goods-controls {
	display: flex;
	-ms-grid-column: 3;
	-ms-grid-row: 2;
	grid-area: 2 / 3 / 3 / 4;
	justify-content: flex-end;
}

[href^="#featured-goods-anchor"] {
	display: block;
	width: 12px;
	height: 12px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/utility-icons/slider-button-empty.svg);
}

.featured-goods .slogan {
	font-size: 47px;
	line-height: 56px;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	margin: 78px 0 0 20px;
	letter-spacing: 0.5px;
}

.featured-goods .description {
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	margin: 19.5px 0 0 19px;
	letter-spacing: 0.2px;
}

[class^=slide] {
	display: none;
}

[class^=slide].current:not(.no-js) {
	display: block;
}

.featured-goods-anchor.current:not(.no-js) {
	background-image: url(../img/utility-icons/slider-button.svg);
}

.fixed-anchor.featured-1:not(:target)+.fixed-anchor.featured-2:not(:target)+.fixed-anchor.featured-3:not(:target)~.featured-goods-controls>.featured-goods-anchor.link-1.no-js,
.fixed-anchor.featured-1:target~.featured-goods-controls>.featured-goods-anchor.link-1.no-js,
.fixed-anchor.featured-2:target~.featured-goods-controls>.featured-goods-anchor.link-2.no-js,
.fixed-anchor.featured-3:target~.featured-goods-controls>.featured-goods-anchor.link-3.no-js {
	background-image: url(../img/utility-icons/slider-button.svg);
}

.fixed-anchor.featured-1:not(:target)+.fixed-anchor.featured-2:not(:target)+.fixed-anchor.featured-3:not(:target)~.slide-1.no-js,
.fixed-anchor.featured-1:target~.slide-1.no-js,
.fixed-anchor.featured-2:target~.slide-2.no-js,
.fixed-anchor.featured-3:target~.slide-3.no-js {
	display: block;
}

[class^=slide].img {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 3;
	grid-area: 1 / 1 / 4 / 2;
}

[class^=slide].top {
	-ms-grid-column: 2;
	-ms-grid-row: 1;
	-ms-grid-column-span: 3;
	grid-area: 1 / 2 / 2 / 4;
	position: relative;
}

[class^=slide].top::before {
	content: "";
	display: block;
	position: absolute;
	width: 100px;
	height: 7px;
	background-color: #fff;
	top: 36px;
	left: 20px;
}

[class^=slide].more {
	-ms-grid-column: 2;
	-ms-grid-row: 2;
	grid-area: 2 / 2 / 3 / 3;
}

[class^=slide].more a {
	margin-left: 20px;
	margin-top: 2px;
}

[class^=slide].table {
	-ms-grid-column: 2;
	-ms-grid-row: 3;
	-ms-grid-column-span: 3;
	grid-area: 3 / 2 / 4 / 4;
	padding-left: 15.5px;
	padding-top: 38px;
}

[class^=slide].table th {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.1px;
	color: #464646;
	text-align: left;
	padding-top: 5px;
	padding-left: 2px;
}

[class^=slide].table td {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	letter-spacing: 0.4px;
}

[class^=slide].table td:first-child {
	min-width: 156px;
}

[class^=slide].table td:nth-child(2) {
	min-width: 137px;
}

.featured-goods-controls a {
	margin-right: 21px;
	margin-top: 16px;
}

.featured-goods-controls a:last-child {
	margin-right: 83px;
}

.featured-categories {
	width: 1160px;
	margin: 0 auto;
	min-height: 422px;
}

.featured-categories-list {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
}

.featured-categorie {
	width: 160px;
}

.featured-categorie:not(:last-child) {
	margin-right: 40px;
}

.featured-categorie-img-link {
	letter-spacing: 0.2px;
}

.featured-categorie-img-link::before {
	content: "";
	display: block;
	width: 160px;
	height: 160px;
	background: rgba(240, 198, 45, 0.5);
	background-repeat: no-repeat;
	color: #000;
	margin-bottom: 34px;
}

.featured-categorie-img-link:hover::before {
	background-color: #f0c62d;
}

.featured-categorie-img-link:active::before {
	background-color: #f0c62d;
	box-shadow: inset 160px 0 rgba(240, 198, 45, 0.5);
}

.featured-categorie-img-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.featured-categorie-img-link.vr::before {
	background-image: url(../img/categorie-icons/vr.svg);
	background-size: 97px 55px;
	background-position: 31px 52px;
}

.featured-categorie-img-link.selfie-stick::before {
	background-image: url(../img/categorie-icons/selfie-stick.svg);
	background-size: 86px 117px;
	background-position: 38px 41px;
}

.featured-categorie-img-link.action-camera::before {
	background-image: url(../img/categorie-icons/action-camera.svg);
	background-size: 71px 87px;
	background-position: 49px 38px;
}

.featured-categorie-img-link.fitness-tracker::before {
	background-image: url(../img/categorie-icons/fitness-tracker.svg);
	background-size: 107px 65px;
	background-position: 28px 50px;
}

.featured-categorie-img-link.smart-watch::before {
	background-image: url(../img/categorie-icons/smart-watch.svg);
	background-size: 56px 98px;
	background-position: 55px 32px;
}

.featured-categorie-img-link.quadcopter::before {
	background-image: url(../img/categorie-icons/quadcopter.svg);
	background-size: 132px 69px;
	background-position: 13px 49px;
}

.featured-categorie-img-link {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
}

.brands {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 145px;
}

.brands>ul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.brand.dji .logo-img {
	background-image: url(../img/brands/dji-translucent.png);
}

.brand.dji:hover>.logo-img,
.brand.dji:focus>.logo-img,
.brand.dji:active>.logo-img {
	background-image: url(../img/brands/dji.png);
}

.brand.spgadgets .logo-img {
	background-image: url(../img/brands/sp-gadgets-translucent.png);
}

.brand.spgadgets:hover>.logo-img,
.brand.spgadgets:focus>.logo-img,
.brand.spgadgets:active>.logo-img {
	background-image: url(../img/brands/sp-gadgets.png);
}

.brand.gopro .logo-img {
	background-image: url(../img/brands/go-pro-translucent.png);
}

.brand.gopro:hover>.logo-img,
.brand.gopro:focus>.logo-img,
.brand.gopro:active>.logo-img {
	background-image: url(../img/brands/go-pro.png);
}

.brand.vive .logo-img {
	background-image: url(../img/brands/vive-translucent.png);
}

.brand.vive:hover>.logo-img,
.brand.vive:focus>.logo-img,
.brand.vive:active>.logo-img {
	background-image: url(../img/brands/vive.png);
}

.brands .logo-img {
	background-position: center;
	background-repeat: no-repeat;
	block-size: 100%;
	display: block;
	width: 260px;
	height: 100px;
}

/*  */
/* SERVICES */
/*  */
.service-anchor {
	position: relative;
	top: -100px;
}

.services {
	background-color: #e5e5e5;
	min-height: 288px;
	margin-bottom: 95px;
}

.services>.wrap {
	display: flex;
	flex-flow: row nowrap;
}

.service-controls {
	width: 280px;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
}

.service-controls::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: -100px;
	height: 320px;
	width: 7px;
	background-color: #000;
	right: -4px;
}

.service-controls a:first-child {
	margin-top: -20px;
}

.service-controls a {
	margin-bottom: 24px;
	width: 160px;
}

.services section {
	padding-left: 117px;
	box-sizing: border-box;
	display: none;
	width: 880px;
	position: relative;
}

.services h3 {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	letter-spacing: 1px;
	margin-top: -26px;
	margin-left: 4px;
	margin-bottom: 31px;
}

.services p {
	margin: 0;
	max-width: 436px;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.3px;
	margin-left: 2px;
}

.service-section.delivery::after,
.service-section.warranty::after,
.service-section.credit::after {
	content: "";
	display: block;
	position: absolute;
}

.service-section.delivery::after {
	background: url(../img/service-icons/delivery.svg) center no-repeat;
	width: 136px;
	height: 164px;
	top: -15px;
	right: 66px;
}

.service-section.warranty::after {
	background: url(../img/service-icons/warranty.svg) center no-repeat;
	width: 171px;
	height: 194px;
	top: -39px;
	right: 46px;
}

.service-section.credit::after {
	background: url(../img/service-icons/credit.svg) center no-repeat;
	width: 156px;
	height: 186px;
	top: -39px;
	right: 70px;
}

.fixed-anchor {
	position: fixed;
}

/*
    SERVICES SWITCH STYLES
*/
.service-anchor-link.current:not(.no-js),
.service-controls>a:active {
	color: #f7e184;
}

.service-anchor-link.current:not(.no-js)::before,
.service-controls>a:active::before {
	background-color: #000;
	height: 100%;
}

.service-anchor-link.current:not(.no-js)::after,
.service-controls>a:active::after {
	content: "";
	display: block;
	width: 120px;
	height: 100%;
	position: absolute;
	right: -120px;
	top: 0;
	background-color: #000;
}

.service-section.current:not(.no-js) {
	display: block;
}

/*
    SERVICES SWITCH STYLES NO-JS FALLBACK
*/
.service-anchor.delivery:not(:target)+.service-anchor.warranty:not(:target)+.fixed-anchor.delivery:not(:target)+.fixed-anchor.warranty:not(:target)+.fixed-anchor.credit:not(:target)~.service-controls .service-anchor-link.delivery.no-js,
.service-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js,
.service-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js,
.fixed-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js,
.fixed-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js,
.fixed-anchor.credit:target~.service-controls .service-anchor-link.credit.no-js {
	color: #f7e184;
}

.service-anchor.delivery:not(:target)+.service-anchor.warranty:not(:target)+.fixed-anchor.delivery:not(:target)+.fixed-anchor.warranty:not(:target)+.fixed-anchor.credit:not(:target)~.service-controls .service-anchor-link.delivery.no-js::before,
.service-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js::before,
.service-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js::before,
.fixed-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js::before,
.fixed-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js::before,
.fixed-anchor.credit:target~.service-controls .service-anchor-link.credit.no-js::before {
	background-color: #000;
	height: 100%;
}

.service-anchor.delivery:not(:target)+.service-anchor.warranty:not(:target)+.fixed-anchor.delivery:not(:target)+.fixed-anchor.warranty:not(:target)+.fixed-anchor.credit:not(:target)~.service-controls .service-anchor-link.delivery.no-js::after,
.service-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js::after,
.service-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js::after,
.fixed-anchor.delivery:target~.service-controls .service-anchor-link.delivery.no-js::after,
.fixed-anchor.warranty:target~.service-controls .service-anchor-link.warranty.no-js::after,
.fixed-anchor.credit:target~.service-controls .service-anchor-link.credit.no-js::after {
	content: "";
	display: block;
	width: 120px;
	height: 100%;
	position: absolute;
	right: -120px;
	top: 0;
	background-color: #000;
}

.service-anchor.delivery:not(:target)+.service-anchor.warranty:not(:target)+.fixed-anchor.delivery:not(:target)+.fixed-anchor.warranty:not(:target)+.fixed-anchor.credit:not(:target)~.service-section.delivery.no-js,
.service-anchor.delivery:target~.service-section.delivery.no-js,
.service-anchor.warranty:target~.service-section.warranty.no-js,
.fixed-anchor.delivery:target~.service-section.delivery.no-js,
.fixed-anchor.warranty:target~.service-section.warranty.no-js,
.fixed-anchor.credit:target~.service-section.credit.no-js {
	display: block;
}

.info-n-contacts {
	width: 1160px;
	margin: 0 auto;
	display: flex;
	margin-bottom: 80px;
}

.info-n-contacts .yellow-stripe-button {
	width: 260px;
}

.info-n-contacts h2 {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	letter-spacing: 0.5px;
	margin: 0;
	margin-bottom: 43px;
	position: relative;
	left: -2px;
}

.info-n-contacts h2::before {
	content: "";
	display: block;
	position: absolute;
	width: 80px;
	height: 7px;
	background-color: #000;
	top: -53px;
	left: 2px;
}

.info {
	margin-right: 40px;
	width: 560px;
}

.info-n-contacts p {
	line-height: 30px;
	margin: 0;
	letter-spacing: normal;
}

.info p {
	font-size: 15px;
	max-width: 462px;
	letter-spacing: -.18px;
}

.info p:first-of-type {
	letter-spacing: .1px;
	margin-bottom: 30px;
}

.info p:last-of-type {
	margin-bottom: 65px;
}

.transport-companies {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 800;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 55px;
}

.transport-companies li {
	padding-left: 35px;
	position: relative;
}

.transport-companies li:last-of-type {
	letter-spacing: .1px;
}

.transport-companies li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -4px;
	width: 8px;
	height: 8px;
	border: 1px solid lightgrey;
	border-radius: 50%;
	box-sizing: border-box;
}

.contacts {
	width: 560px;
}

.contacts p {
	letter-spacing: -.4px;
	margin-bottom: 39px;
	left: -2px;
	top: -1px;
	position: relative;
}

.contacts-map-link {
	display: block;
	margin-bottom: 65px;
}

.breadcrumbs {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	margin-bottom: 45px;
	position: relative;
	top: -1px;
}

.breadcrumbs li:not(:last-child) {
	position: relative;
	padding-right: 37px;
}

.breadcrumbs li:not(:last-child)::after {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 4px;
	height: 4px;
	border-top: 1px solid;
	border-right: 1px solid;
	transform: rotate(45deg) translateY(-2px);
	position: absolute;
	top: 11px;
	right: 18px;
}

.breadcrumbs a {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.14px;
	color: #000;
	opacity: .3;
}

.breadcrumbs a:hover {
	opacity: .6;
}

.breadcrumbs a:active {
	opacity: .1;
}

header.catalog-header {
	width: 1160px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 60px;
}

.catalog-header>h1 {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	letter-spacing: 0.5px;
	margin-top: 35px;
	margin-bottom: 23px;
}

section.catalog {
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

/* */
/* COMMON THINGS */
/* */
.filters input[type=checkbox]+label::before,
.filters input[type=radio]+label::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	background-position: 0;
	background-repeat: no-repeat;
}

.filters input[type=checkbox]+label::before {
	width: 27px;
	height: 23px;
	margin-right: 12px;
	margin-left: -1px;
}

.filters input[type=radio]+label::before {
	width: 25px;
	height: 25px;
	background-size: 25px;
	margin-right: 14px;
	margin-left: -1px;
}

.filters input[type=checkbox]:focus+label::before,
.filters input[type=radio]:focus+label::before,
.filters input[type=checkbox]+label:hover::before,
.filters input[type=radio]+label:hover::before {
	opacity: .6;
}

.filters input[type=checkbox]+label::before {
	background-image: url(../img/utility-icons/checkbox-off.svg);
	background-size: 23px 23px;
}

.filters input[type=checkbox]:checked+label::before {
	background-image: url(../img/utility-icons/checkbox-on.svg);
	background-size: 27px 23px;
}

.filters input[type=radio]+label::before {
	background: url(../img/utility-icons/radio-off.svg);
}

.filters input[type=radio]:checked+label::before {
	background: url(../img/utility-icons/radio-on.svg);
}

.filters input:disabled+label {
	color: #a6a6a6;
	pointer-events: none;
}

.filters input:disabled+label::before {
	opacity: .25;
}

/* */
/* UNIQUE */
/* */
.filters {
	background-color: #ebebeb;
	width: 327px;
	position: relative;
}

.filters::before {
	content: "";
	display: block;
	height: 100%;
	width: calc(50vw - 580px);
	position: absolute;
	left: calc(580px - 50vw);
	background-color: #ebebeb;
}

.filters-header::before {
	content: "";
	display: block;
	height: 100%;
	width: calc(50vw - 580px);
	position: absolute;
	left: calc(580px - 50vw);
	background-color: #d9d9d9;
	top: 0;
}

.filters-header {
	padding-left: 60px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 327px;
	background-color: #d9d9d9;
	height: 70px;
	position: relative;
}

.filters-header h2 {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 3.2px;
}

.filters legend {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2px;
}

.filters>fieldset {
	border: 0;
	width: 201px;
	padding: 0;
	margin: 0;
	margin-left: 59px;
	position: relative;
	min-height: 140px;
}

.price-range {
	position: relative;
	top: 25px;
	margin-bottom: 40px;
	width: 201px;
	display: block;
	height: 22px;
}

.price-range::before {
	content: "";
	display: block;
	width: 201px;
	height: 2px;
	background-color: #dbdbdb;
	position: absolute;
	top: 10px;
}

.price-range .colored-stripe {
	width: 110px;
	height: 2px;
	background-color: #91c92f;
	position: absolute;
	top: 10px;
	pointer-events: none;
}

.price-range .handle {
	border: 0;
	z-index: 1;
	position: absolute;
	top: 1px;
	width: 20px;
	height: 22px;
	background: url(../img/utility-icons/filter-button.svg) center no-repeat;
	margin-left: -6px;
	background-size: 100% 100%;
}

.price-range .handle:active {
	margin-top: -1px;
	margin-left: -7px;
	width: 22px;
	height: 24px;
}

.inputs-wrap {
	display: flex;
	position: relative;
	top: -15px;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.4px;
}

[for=price-min],
[for=price-max] {
	display: flex;
}

[name=price-min],
[name=price-max] {
	width: 16px;
	border: 0;
	background: 0;
	padding: 1px;
	resize: none;
	overflow: hidden;
	font: inherit;
	color: inherit;
	padding-left: 2px;
	position: relative;
	top: -1px;
}

.filters>fieldset:first-of-type {
	margin-top: 81px;
}

.filters>fieldset::before {
	content: "";
	display: block;
	width: inherit;
	height: 2px;
	position: absolute;
	top: -12px;
	background: #000;
}

fieldset.color {
	margin-bottom: 43px;
}

fieldset.color legend {
	margin-bottom: 18px;
}

fieldset.color label {
	font-size: 14px;
	line-height: 40px;
	display: flex;
	align-items: center;
	letter-spacing: .14px;
}

fieldset.bluetooth {
	margin-bottom: 13px;
}

fieldset.bluetooth legend {
	margin-bottom: 17px;
}

fieldset.bluetooth label {
	font-size: 14px;
	line-height: 40px;
	display: flex;
	align-items: center;
	letter-spacing: .14px;
}

.filters [type="submit"] {
	margin-left: 59px;
	width: 201px;
}

.goods {
	width: 833px;
	background-color: #fff;
}

.good {
	margin-bottom: 50px;
	display: flex;
	flex-flow: row wrap;
	width: 360px;
	position: relative;
	justify-content: space-between;
	align-content: flex-start;
}

.good:nth-child(2n + 1) {
	margin-right: 40px;
	margin-left: 73px;
}

.good .goods-photo {
	height: 380px;
	margin-bottom: 28px;
}

.photo-overlay {
	display: none;
	width: 360px;
	height: 380px;
	position: absolute;
	left: 0;
	background-color: rgba(238, 238, 238, 0.7);
	flex-flow: column nowrap;
	align-items: center;
}

.goods-photo:hover+.photo-overlay,
.photo-overlay:hover {
	display: flex;
}

.photo-overlay a:first-of-type {
	width: 200px;
	margin-top: 170px;
	margin-bottom: 7px;
}

.photo-overlay a:last-of-type {
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.1px;
	color: rgba(0, 0, 0, 0.5);
}

.photo-overlay a:last-of-type:hover {
	color: black;
}

.photo-overlay a:last-of-type:active {
	color: rgba(0, 0, 0, 0.2);
}

.photo-overlay:focus-within,
.photo-overlay {
	display: flex;
}

.goods-photo:not(:hover)+.photo-overlay:not(:hover):not(:focus-within) {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.good h3 {
	max-width: 260px;
	margin: 0;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2px;
	position: relative;
	top: 3px;
}

.good .price {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2px;
	position: relative;
	top: 3px;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 300;
}

.good.new::before {
	content: "NEW";
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: .07px;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.2);
	border: 2px solid rgba(0, 0, 0, 0.1);
	position: absolute;
	right: 28px;
	top: 27px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sorting {
	align-items: center;
	position: relative;
	display: flex;
	height: 70px;
	background-color: #ebebeb;
	margin-bottom: 70px;
}

.sorting::before {
	content: "";
	display: block;
	height: 100%;
	width: calc(50vw - 580px);
	position: absolute;
	top: 0;
	right: calc(580px - 50vw);
	background-color: #ebebeb;
}

.sorting h2 {
	margin: 0 55px 0 74px;
	font-size: 16px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
}

.sorting a {
	font-size: 14px;
	line-height: 18px;
}

[class^=sort-by-].current:hover {
	opacity: .6;
}

[class^=sort-by-].current:active {
	opacity: .3;
}

[class^=sort-by-]:not(.current) {
	opacity: .3;
}

[class^=sort-by-]:not(.current):hover {
	opacity: .6;
}

[class^=sort-by-]:not(.current):active {
	opacity: 1;
}

.sort-by-price,
.sort-by-type {
	margin-right: 30px;
}

.sort-by-popularity {
	margin-right: auto;
}

.sort-order-asc,
.sort-order-desc {
	width: 0;
	height: 0;
	border: 11px solid #000;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.sort-order-asc[href],
.sort-order-desc[href] {
	opacity: .2;
}

.sort-order-asc[href]:hover,
.sort-order-desc[href]:hover {
	opacity: .4;
}

.sort-order-asc[href]:active,
.sort-order-desc[href]:active {
	opacity: 1;
}

.sort-order-asc {
	border-top: 0;
	margin-right: 19px;
}

.sort-order-desc {
	border-bottom: 0;
}

.goods-container {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	flex-flow: row wrap;
}

.pagination {
	display: flex;
	width: 759px;
	height: 70px;
	margin-left: auto;
	margin-bottom: 76px;
	margin-top: -11px;
	background-color: #ebebeb;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	align-items: center;
}

.pagination>a {
	display: flex;
	height: 100%;
	align-items: center;
	width: 106px;
}

.pagination>a:first-of-type {
	padding-left: 30px;
	margin-right: auto;
}

.pagination>a:last-of-type {
	padding-right: 27px;
	margin-left: auto;
	justify-content: flex-end;
}

.pagination>a[href]:hover {
	background-color: #d9d9d9;
}

.pagination>a[href]:active {
	background-color: #d9d9d9;
	color: rgba(0, 0, 0, 0.3);
}

.pagination>a:not([href]) {
	color: rgba(0, 0, 0, 0.3);
}

.pagination li:first-of-type {
	position: relative;
	left: 3px;
}

.pagination li:not(:last-of-type) {
	margin-right: 30px;
}

.pagination li a[href] {
	color: rgba(0, 0, 0, 0.3);
}

.pagination li a[href]:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pagination li a[href]:active {
	color: black;
}

.pagination>ul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
}

/*  */
/* PAGE FOOTER */
/*  */
.page-footer {
	color: #fff;
	font-size: 15px;
	line-height: 30px;
	background-color: #464646;
	min-height: 323px;
	padding: 65px 0;
	box-sizing: border-box;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 360px 440px 360px 1fr;
	grid-template-columns: 1fr 360px 440px 360px 1fr;
	-ms-grid-rows: 36px 123px 35px;
	grid-template-rows: 36px 123px 35px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: auto;
	position: relative;
}

.page-footer::before,
.page-footer::after {
	display: block;
	height: 100%;
	width: calc(50vw - 580px);
	position: absolute;
	background-color: #464646;
}

.page-footer::before {
	left: calc(580px - 50vw);
}

.page-footer::after {
	right: calc(580px - 50vw);
}

.page-footer a {
	color: #fff;
}

.page-footer .nav-link {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;
}

.page-footer .nav-item-login,
.page-footer .nav-item-logout {
	margin-right: 44px;
}

.page-footer .nav-item-user {
	margin-right: 20px;
}

.page-footer .site-nav li:not(:last-of-type) {
	margin-right: 34px;
}

.page-footer .social-buttons {
	-ms-grid-column: 3;
	-ms-grid-row: 3;
	grid-area: 3 / 3 / 4 / 3;
	justify-content: center;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	position: relative;
}

.page-footer .social-button:not(:last-of-type) {
	margin-right: 22px;
}

.page-footer .logo-link {
	-ms-grid-column: 2;
	-ms-grid-row: 1;
	grid-area: 1 / 2 / 2 / 3;
	width: 163px;
	height: 35px;
	display: block;
}

.page-footer .user-nav {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	-ms-grid-column: 3;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	grid-area: 1 / 3 / 2 / 5;
	justify-content: flex-end;
	line-height: 36px;
	top: -3px;
	position: relative;
}

.page-footer .user-nav a {
	opacity: 1;
	color: rgba(255, 255, 255, 0.7);
}

.page-footer .user-nav a:hover {
	color: white;
	opacity: 1;
}

.page-footer .user-nav a:active {
	color: rgba(255, 255, 255, 0.3);
	opacity: 1;
}

.page-footer .user-nav a:hover::before {
	opacity: .6;
}

.page-footer .user-nav a:active::before {
	opacity: .3;
}

.page-footer .login::before,
.page-footer .user::before {
	background: url(../img/utility-icons/user-gold.svg) center no-repeat;
}

.page-footer .compare::before {
	background: url(../img/utility-icons/compare-gold.svg) center no-repeat;
}

.page-footer .cart::before {
	background: url(../img/utility-icons/cart-gold.svg) center no-repeat;
}

.page-footer address {
	-ms-grid-column: 2;
	-ms-grid-row: 2;
	grid-area: 2 / 2 / 3 / 3;
	font-style: normal;
	position: relative;
	top: 30px;
}

.page-footer .site-nav {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	-ms-grid-column: 3;
	-ms-grid-row: 2;
	grid-area: 2 / 3 / 3 / 4;
	justify-content: center;
	letter-spacing: 3.6px;
	position: relative;
	top: 33px;
}

.page-footer .phone {
	display: block;
	-ms-grid-column: 4;
	-ms-grid-row: 2;
	grid-area: 2 / 4 / 3 / 5;
	text-align: right;
	position: relative;
	top: 30px;
	height: 35px;
}

.page-footer .yellow-line {
	-ms-grid-column: 2;
	-ms-grid-row: 3;
	grid-area: 3 / 2 / 4 / 3;
	background-color: #ffc600;
	height: 7px;
	width: 80px;
	margin-top: 13px;
}

.social-button a {
	display: block;
	width: 32px;
	height: 32px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: .3;
}

.social-button a:hover {
	opacity: .6;
}

.social-button a:active {
	opacity: .1;
}

.social-button.facebook a {
	background-image: url(../img/social-icons/fb.svg);
}

.social-button.instagram a {
	background-image: url(../img/social-icons/inst.svg);
}

.social-button.twitter a {
	background-image: url(../img/social-icons/tw.svg);
}

.page-footer .htmlacademy-link {
	display: block;
	-ms-grid-column: 4;
	-ms-grid-row: 3;
	grid-area: 3 / 4 / 4 / 5;
	text-align: right;
}

.page-footer .htmlacademy-link:hover {
	opacity: .6;
}

.page-footer .htmlacademy-link:active {
	opacity: .3;
}

.common-dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	border: 0;
	padding: 0;
	z-index: 2;
	box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.common-dialog[open] {
	animation-name: show-dialog;
	animation-duration: .6s;
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@keyframes show-dialog {
	from {
		top: -50%;
	}

	75% {
		top: 60%;
	}

	90% {
		top: 45%;
	}

	to {
		top: 50%;
	}
}

.common-dialog.error {
	animation-name: shake-dialog;
	animation-duration: .6s;
}

@keyframes shake-dialog {
	from {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-3%);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(3%);
	}

	to {
		transform: translateX(0);
	}
}

.popup-map {
	width: 960px;
	height: 559px;
	margin-top: -279px;
	margin-left: -480px;
	background: url(../img/map.png) center/cover no-repeat;
}

.popup-map iframe {
	position: absolute;
	left: 0;
	top: 0;
	border: 0;
}

.close-btn {
	width: 55px;
	height: 55px;
	border: 0;
	border-radius: 50%;
	background-color: rgba(240, 197, 46, 0.5);
	position: absolute;
	right: 22px;
	top: 22px;
}

.close-btn:hover {
	background-color: #f0c52e;
}

.close-btn:active {
	background-color: rgba(240, 197, 46, 0.3);
}

.close-btn::before,
.close-btn::after {
	content: "";
	display: block;
	position: absolute;
	background-color: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::before {
	width: 22px;
	height: 2px;
}

.close-btn::after {
	width: 2px;
	height: 22px;
}

.write-us-dialog {
	width: 960px;
	height: 553px;
	margin-top: -279px;
	margin-left: -480px;
	padding: 80px 100px;
	padding-top: 93px;
	box-sizing: border-box;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
}

.write-us-dialog input,
.write-us-dialog textarea {
	background-color: #f2f2f2;
	border: 0;
	font-size: 14px;
	line-height: 18px;
	border: 3px solid transparent;
	box-sizing: border-box;
	margin-top: 6px;
}

.write-us-dialog input:hover,
.write-us-dialog textarea:hover {
	background-color: #eaeaea;
}

.write-us-dialog input:focus,
.write-us-dialog textarea:focus {
	background-color: #fff;
	border: 3px solid #f0c52e;
	color: #464646;
	outline: none;
}

.write-us-dialog input:invalid,
.write-us-dialog textarea:invalid {
	background-color: #f6dada;
}

.write-us-dialog input::placeholder,
.write-us-dialog textarea::placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.name-n-email {
	display: flex;
	margin-bottom: 34px;
}

.write-us-name-label {
	margin-right: 40px;
}

.write-us-name-input {
	letter-spacing: .5px;
	padding: 10px 17px;
}

.write-us-email-input {
	letter-spacing: .2px;
	padding: 10px 17px;
}

.write-us-name-input,
.write-us-email-input {
	width: 360px;
	height: 50px;
}

.write-us-message-label {
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 42px;
	letter-spacing: .2px;
	left: 1px;
	position: relative;
}

.write-us-message-input {
	height: 156px;
	resize: none;
	width: 100%;
	letter-spacing: .15px;
	padding: 13px 16px;
}

.write-us-submit {
	width: 200px;
}